<div id="a1"></div>
<script type="text/javascript">
    var flashvars={
        p:1,
        e:1,
        i:''
    };
    var video= ['<%= @url %>'];
    var support=['all'];
    CKobject.embedHTML5('a1','ckplayer_a1','100%',300,video,flashvars,support);
</script>