<div style="width: 100%;height: 300px" id="video"></div>


<script type="text/javascript">


    var ivaInstance = new Iva(
            'video',//父容器id或者父容器DOM对象，给父容器设置宽高640px*480px以上可以获得最佳的浏览体验；
            {
                appkey: 'NkFbk82Lx',//必填，请在控制台查看应用标识
                live: false,//选填，是否是直播流，默认为false
                video: 'http://v.youku.com/v_show/id_XODA1NDU4NzA4.html?tpa=dW5pb25faWQ9MTAyMjEzXzEwMDAwOV8wMV8wMQ',//必填，播放地址（http://www.tudou.com/programs/view/tM_vZCQy2uM/）或者资源地址（http://7xi4ig.com2.z0.glb.qiniucdn.com/shapuolang_ts.mp4）
                title: '小视频',//选填，视频标题
                cover: '视频封面url',//选填，视频封面url
                videoStartPrefixSeconds: 0,//选填，跳过片头，默认为0
                videoEndPrefixSeconds: 0,//选填，跳过片尾，默认为0
                /* 以下参数可以在“控制台->项目看板->应用管理->播放器设置”进行全局设置，前端设置可以覆盖全局设置 */
                skinSelect: 0,//选填，播放器皮肤，可选0、1、2，默认为0，
                autoplay: true,//选填，是否自动播放，默认为false
                rightHand: true,//选填，是否开启右键菜单，默认为false
                autoFormat: false,//选填，是否自动选择最高清晰度，默认为false
                bubble: true,//选填，是否开启云泡功能，默认为true
                jumpStep: 10,//选填，左右方向键快退快进的时间
                tagTrack: false,//选填，云链是否跟踪，默认为false
                tagShow: false,//选填，云链是否显示，默认为false
                tagDuration: 5,//选填，云链显示时间，默认为5秒
                tagFontSize: 16//选填，云链文字大小，默认为16像素
            }
    );
</script>